<!DOCTYPE html>
<html lang="en">
<head>
  <title>GLAD</title>
  <%- include("./partials/head") %>
</head>
<body>

  <%- include("./partials/header") %>

  <main>
    <hhollaa>
  </main>

  <%- include("./partials/footer") %>
  <%- include("./partials/scripts") %>
</body>
</html>
